body{
    background-color: rgb(86, 155, 205);
}

#gaterug {
    float: right;

}

.signup-container {
    background-color: white;
    padding-top: 20%;
    padding-bottom: 20%;
    max-width: 30%;
   display: flex;

    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px;
    margin-top: 2.5%;
    
}

.inloggen-txt {
   margin-top: -320px;
   margin-left: 37%;
   font-family: "Barlow Condensed", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 2rem;
}

.input {
    margin: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.signup-form {
   margin-left: 100%;
}

.signup-button button {
    margin-left: 45px;
    margin-top: 130px;
   
}