html{
    margin: 0px;
}
body{
    margin: 0px;
    background: grey;
}
#a4{
    width: 840px;
    height: 1188px;
    margin: 50px auto;  
    background-color: white;
    position: relative;
}
#a4 :after {
    content: "";
    display: table;
    clear: both;
}
#sidebar{
    width: 300px;
    height: 1188px;
    background-color: darkblue;
    float: left;
}
#picture{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    margin: 25px;
    margin-top: 0px;
    background-color: white;
}
#filler1{
    height: 50px;
}
#name2{
    width: 250px;
    height: 50px;
    margin: 25px;
    margin-bottom: 75px;
    background-color: lightblue;
    border-radius: 20px;
}#title6{
    height: 40px;
    width: 125px;
    margin: 20px;
    background-color: yellow;
    border-radius: 20px;
}
#ervaring7,#ervaring8,#ervaring9,#ervaring10,#ervaring11{
    height: 40px;
    width: 250px;
    margin: 20px;
    background: pink;
    border-radius: 20px;
}
#title7{
    height: 40px;
    margin: 20px;
    width: 125px;
    margin-top: 50px;
    background-color: yellow;
    border-radius: 20px;
}
#text6,#text7{
    height: 100px;
    margin: 20px;
    width: 250px;
    background-color: orange;
    border-radius: 20px;
}

#title8,#title9{
    width: 10px;
    height: 10px;
    background-color: yellow;
}
#text8,#text9{
    width: 10px;
    height: 10px;
    background-color: orange;
}
#overigcv{
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#title8,#title9,#title10{
    height: 50px;
    width: 50%;
    margin-bottom: 10px;
    background-color: yellow;
    border-radius: 20px;
}
#text8,#text9,#text10,#text11{
    height: 150px;
    width: 95%;
    background-color: orange;
    margin-bottom: 30px;
    border-radius: 20px;
}
#text10{
    margin-bottom: 20px;
}
#title8{
    margin-top: 25px;
}
#fotos4,#fotos5,#fotos6{
    height: 75px;
    width: 95%;
    background-color: lime;
    border-radius: 20px;
    margin-bottom: 10px;
}
