html{
    margin: 0;
}
body{
    margin: 0;
    background-color: #809999;
}
#a4{
    width: 840pX;
    height: 1188px;
    margin: 50px auto;  
    background-color: white;
    position: relative;
}
#rechts{
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#triangle {
    width: 840px;
    height: 840px;
    background: linear-gradient(to bottom right, #808080 50%, #fff 50%);
}
#picture{
    height: 250px;
    width: 250px;
    border: solid black 2px;
    border-radius: 20px;
}
#name{
    height: 50px;
    width: 250px;
    border: solid black 2px;
    border-radius: 20px;
}
#namepicture{
    margin-left: 40px;
}
#filler2{
    width: 240px;
    height: 40px;
}
#title11{
    width: 150px;
    height: 50px;
    border: solid black 2px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 60px;
    border-radius: 20px;
}
#text13{
    height: 350px;
    width: 250px;
    border: solid black 2px;
    margin-left: 40px;
    border-radius: 20px;
}
#ervaring12,#ervaring13,#ervaring14,#ervaring15,#ervaring16{
    width: 250px;
    height: 50px;
    border: solid black 2px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 20px;
}
#ervaring12{
    margin-top: 10px;
}
#title12,#title13{
    float: left;
    height: 50px;
    width: 250px;
    border: solid black 2px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 20px;

}
#text14,#text15{
    height: 150px;
    width: 400px;
    border: solid black 2px;
    margin-bottom: 10px;
    float: left;
    margin-left: 40px;
    border-radius: 20px;
}
#text16,#text17,#foto7{
    height: 170px;
    width: 400px;
    border: solid black 2px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 20px;
}
#text16{
    margin-top: 585px;
}
#foto7{
    border: solid black 2px;
}
