html{
    margin: 0px;
}
body{
    margin: 0px;
    background: grey;
}
#a4{
    width: 840px;
    height: 1188px;
    margin: 400px;
    background-color: white;
    position: absolute;
}
#overigcv{
    height: 100px;
    float: right;
    width: 500px;
}
#sidebar{
    width: 300px;
    height: 1188px;
    background-color: darkblue;
}
#picture{
    height: 246px;
    width: 250px;
    border-radius: 200px;
    margin: 25px;
    margin-top: 0px;
    border: solid black 2px;
    background-color: white;
}
#filler1{
    height: 50px;
}
#name2{
    width: 250px;
    height: 46px;
    margin: 25px;
    margin-bottom: 75px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}#title6{
    height: 36px;
    width: 125px;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}
#ervaring7,#ervaring8,#ervaring9,#ervaring10,#ervaring11{
    height: 36px;
    width: 250px;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}
#title7{
    height: 36px;
    margin: 20px;
    width: 125px;
    margin-top: 50px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}
#text6,#text7{
    height: 96px;
    margin: 20px;
    width: 250px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
}

#title8,#title9{
    width: 10px;
    height: 6px;
    border: solid black 2px;
}
#text8,#text9{
    width: 10px;
    height: 6px;
    border: solid black 2px;
}
#overigcv{
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    float: right;
}
#title8,#title9,#title10{
    height: 46px;
    width: 50%;
    margin-bottom: 10px;
    border: solid black 2px;
    border-radius: 20px;
}
#text8,#text9,#text10,#text11{
    height: 146px;
    width: 95%;
    border: solid black 2px;
    margin-bottom: 30px;
    border-radius: 20px;
}
#text10{
    margin-bottom: 20px;
}
#title8{
    margin-top: 25px;
}
#fotos4,#fotos5,#fotos6{
    height: 74px;
    width: 95%;
    border: solid black 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}