html{
    margin: 0%;
}
body{
    margin: 0px;
    background-color: grey;
}
#a4{
    width: 840px;
    height: 1188px;
    margin: 400px;
    background-color: white;
}
#picture{
    border-radius: 200px;
    border: solid black 2px;
    width: 296px;
    height: 296px;
    text-align: center;
    float:left;
}
#name{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    width: 396px;
    height: 46px;
    border: solid black 2px;
    border-radius: 20px;
}
#header{
    width: 100%;
    height: 300px;
}
#bijlage3,#bijlage2,#bijlage1{
    width: 300px;
}
#titel1,#titel2,#titel3{
    height: 46px;
    width: 296px;
    border: solid black 2px;
    margin: 10px;
    border-radius: 20px;
}
#text1,#text2,#text3{
    height: 126px;
    width: 296px;
    border: solid black 2px;
    margin: 10px;
    border-radius: 20px;
}
#fotos1,#fotos2,#fotos3{
    height: 73px;
    width: 296px;
    border: solid black 2px;
    margin: 10px;
    border-radius: 20px;
}
#title4,#title5{
    height: 46px;
    width: 246px;
    border: solid black 2px;
    float: right;
    margin: 10px;
    margin-right: 160px;
    border-radius: 20px;
}
#Text4,#text5{
    height: 146px;
    width: 396px;
    float: right;
    border: solid black 2px;
    margin: 10px;
    border-radius: 20px;
}
.links{
    float: left;
}
#ervaring1,#ervaring2,#ervaring3,#ervaring4,#ervaring5,#ervaring6{
    height: 41px;
    width: 396px;
    margin: 10px;
    float: right;
    border: solid black 2px;
    border-radius: 20px;
}
