body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cvKopje {
  background-color: lightblue;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  margin: 10px auto;
  width: 80%;
}

.cvKopje H1 {
  font-size: 30px;
}

.cvKopje p {
  font-size: 20px;
}
.cvs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: lightblue;
  border-radius: 25px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.cv1 img,
.cv2 img,
.cv3 img
 {
  width: 200px;
  height: auto;
}

.cv1,
.cv2,
.cv3 {
  flex: 1; 
  text-align: center; 
  padding: 10px; 
  }

@media only screen and (max-width: 768px) {
  .accountGegevens {
    flex-direction: column; 
  }
}

.Kies1,
.Kies2,
.Kies3 {
  cursor: pointer;
}

footer {
  background-color: #102652;
  padding: 0px;
  color: white;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

footer img {
  width: 70px;
  height: auto;
}