body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #102652;
  border-radius: 20px;
  height: 400px;
  width: 60%;
}

#loginForm h1 {
  text-align: center;
  background-color: rgb(56, 156, 189);
}

#loginForm button {
  float: center;
  max-width: 30%;
  height: auto;
  margin: 5px;
}

#username, #password {
  max-width: 50%;
  height: auto;
  margin-left: 5px;
  margin-top: 1px;
}

#username {
  margin-top: 30px;
}

footer {
  background-color: #102652;
  padding: 0px;
  color: white;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

footer img {
  width: 70px;
  height: auto;
}